<article{{ attributes }}>

  {{ title_prefix }}
  {% if label and not page %}

  <marquee>
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
</marquee>

  {% endif %}
  {{ title_suffix }}

{# {{ dump() }}
{{ kint(_context|keys) }}
{{ dump(title_suffix) }}
{{ dump(title_prefix) }} #}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</article>
