<div class="layout-container">

  <header role="banner">
    {# Display Custom Logo if Enabled #}
    {# {% if custom_logo_enabled %}
      <div class="site-logo">
        <img src="{{ directory }}/images/logo.png" alt="College Logo">
      </div>
    {% endif %} #}

    {{ page.header }}
  </header>

  {{ page.menu }}
  {{ page.banner }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.right_sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.right_sidebar }}
      </aside>
    {% endif %}

    {% if page.left_sidebar %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.left_sidebar }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}

      {# Display Custom Footer Text if Set #}
      {# {% if footer_text %}
        <p class="custom-footer-text">{{ footer_text }}</p>
      {% endif %} #}

    </footer>
  {% endif %}

</div>{# /.layout-container #}
